{% extends "base.html" %}

{% block top_buttons %}
    <form action="{% url 'homepage:homepage'%}">
        <div>
            <button type="submit">Home</button>
        </div>
    </form>
    <form action="{% url 'accounts:login'%}">
        <div>
            <button type="submit">Sign In</button>
        </div>
    </form>
{% endblock top_buttons %}

{% block sub_title %}
    Sign Out
{% endblock sub_title %}

{% block content %}
    <style>
        .button_wrapper {
            text-align: center;
        } 
        .submit_button {
            background-color: grey;
            border: none;
            color: white;
            padding: 15px 50px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            border-radius: 8px;
            margin-left: auto;
        }

    </style>
    <p>You have been logged out successfully. Click <a href="{% url 'homepage:homepage' %}">here</a> to return home.</p>
{% endblock content %}