{% extends "base.html" %}

{% block sub_title %}
    Sign In
{% endblock sub_title %}

{% block content %}
    <style>
        .button_wrapper {
            text-align: center;
        } 
        .submit_button {
            background-color: grey;
            border: none;
            color: white;
            padding: 15px 50px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            border-radius: 8px;
            margin-left: auto;
        }

        .sign_in_form {
            max-width: 500px;
            margin: auto;
            text-align: center;
        }
    </style>
    <p>{{ message }}</p>
    <form method="post" class="sign_in_form">
        {{ form.as_p }}
        {% csrf_token %}
        <div class="button_wrapper">
            <button class="submit_button" type="submit">Submit</button>
        </div>
    </form>
{% endblock content %}

