<head>
    <style>
        body {
            background-color: lightgray;
        }
    </style>

    <script 
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">
    </script>

    <script>
        // this script is written by yazzz https://stackoverflow.com/a/35819751/9894532
        $(function() {
            $("#wrapper").each(function() {
                var $wrap = $(this);
                function iframeScaler(){
                    var wrapWidth = $wrap.width(); // width of the wrapper
                    var wrapHeight = $wrap.height();
                    var childWidth = $wrap.children("iframe").width(); // width of child iframe
                    var childHeight = $wrap.children("iframe").height(); // child height
                    var wScale = wrapWidth / childWidth;
                    var hScale = wrapHeight / childHeight;
                    var scale = Math.min(wScale,hScale);  // get the lowest ratio
                    $wrap.children("iframe").css({"transform": "scale("+scale+")", "transform-origin": "left top" });  // set scale
                };
                $(window).on("resize", iframeScaler);
                $(document).ready( iframeScaler);
            });
        });
    </script>
</head>

<body>
    <div id="wrapper">
        <iframe width="2050" height="1200" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vT7BTSCns7Y64iLDksIfued2W_IkePEa4qYBjHNhB6TXWQ9cD80OI_A0-nLguUPDh4NIp9CMiP7DHWE/pubhtml?widget=true&amp;headers=false"></iframe>
    </div>
</body>
